
<html>
<head>
	<title>Read File</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body id="top"> 
<header>
<h1>"Welcome to the Text Editor"</h1>
</header>
<section class="part1">
<a class="title" href="/editor?filename=new&type=new">Create New File</a> 
</section>
<section class="part2">
 <% for(var i=0;i<files.length;i++) {%>
   <section class="option">
   <tr >
     <td>
     <ul>
      <section id="filename">
      <h4>File Name:<h4>
    	<%= files[i] %>
      </section>
     
      <section class="menu">
    	<li id="bttn"><a  href="/editor?filename=<%=files[i]%>&type=read"> Read the File </a></li>
    	<li id="bttn"><a  href="/editor?filename=<%=files[i]%>&type=append"> Append into File </a></li>
    	<li id="bttn"><a  href="/editor?filename=<%=files[i]%>&type=edit"> Edit the File </a></li>
      </section>
     </td>
   </tr>
   </ul>
   </section>
  <% } %>
 </section>
<aside class="part3">
  <p>
    <h2>Developers:</h2>
  </p>
  <ul>
    <li id="img"><img src="abi.jpg"></li>
    <li id="author">ABHISEK PANDA</li>
    <li id="img"><img src="sg.jpg"></li>
    <li id="author">SANJAY GIRI</li>

  </ul>

</aside>

 <footer class="end">
    <h3><a href="#top">Back to Top</h3>
  </footer>
</body>
</html>