<html>
<head>
	<title> Editor </title>
	 <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1 > Success, redirecting to home ...  </h1>
	<script type="text/javascript">window.location.replace("/",5000);</script>
</body>
</html>